@import '@/styles/global.scss';

$line-w: 0.21em;

.wrap{
	background: hue('light');
	color: hue('dark');
	border: solid;
	align-self: start;
	@include border-w;
}


.preview{
	display: flex;
	align-items: center;
	gap: 0.5em;
	padding: 1em 0;
	padding-right: 2em;
	cursor: pointer;

	svg{
		transition: 0.2s;
	}

	&[open] svg{
		scale: 1 -1;
		translate: 0 -25%;
	}

	[name='letter']{
		font-size: 3em;
		line-height: 0.6;
		color: hue('red');
		text-transform: uppercase;
	}

	[data-line]{
		color: hue('dark');
		width: 100%;
		border-bottom: solid;		
		@include border-w;
	}
	[data-line='1']{
		background: hue('dark');
		width: 2em;
		border-bottom: solid;
		@include border-w;
	}
}

.list{
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 0px;
	padding: 0 1em;


	&[open]{
		height: fit-content;
		padding-bottom: 1em;
	}
}


.item{
	font-size: 1.2em;
	padding: 0.3em 0;
	font-weight: 300;
	font-family: 'Roboto';
	display: flex;
	align-items: center;
	gap: 0.5em;
	color: inherit;
	transition: 0.3s;
	cursor: pointer;

	&:hover{
		color: hue('red');
	}

	&::before{
		content: '';
		width: 0.7em;
		background: currentColor;
		aspect-ratio: 1/1;
	}
}