@import '@/styles/global.scss';

.btn{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2vw;
	gap: 1em;
	color: hue('light');
	background: hue('dark');
	padding: 0.4em 1.8em;
	border-radius: 0.1em;
	border: none;
	cursor: pointer;
	font-family: 'Roboto';
	user-select: none;
	border: solid hue('dark');
	
	@include border-w;

	@include isMobile{
		font-size: 3.5vw;
	}

	&[theme='light']{
		color: hue('dark');
		background: hue('white');
	}
	&[theme='red']{
		color: hue('white');
		background: hue('red');
		border-color: hue('red')
	}


	@include a-click;

	svg{
		font-size: 1.8em;
	}
}