html,body{
	background: hue('light');
	color: hue('dark');
	font-family: 'Oswald', Arial, Helvetica, sans-serif;
	overflow-x: hidden;

	@include isMobile{
		font-size: 4vw;
	}

}


::selection {
	color: hue('light');
	background: hue('red');
}



