@import '@/styles/global.scss';
$p: 2.4em;
$b: solid hue('dark');
$p-mb: 5vw;


.wrap{
	position: relative;
	background: url('/images/noize.png');

	@include isMobile {
		background-size: 250%;
	}
}


.err{
	padding: 40px 0;
}



.cont{
	position: relative;
	display: flex;
	flex-direction: column;
	
	@include isMobile{
		border-right: $b;
		border-left: $b;
		padding-bottom: 10vh;
		@include border-w;
	}


	&__info{
		display: grid;
		grid-template-columns: 40% 1fr;
		grid-template-rows: min-content 1fr;
		border-bottom: $b;
		@include border-w;
		// border-top: $b;

		@include isMobile{
			display: flex;
			flex-direction: column;
			border: none;
		}
	}

}


.name{
	padding: $p;
	padding-right: 0;
	padding-bottom: 0;
	grid-column: 2;
	grid-row: 1;
	position: relative;


	&::before{
		content: '';
		position: absolute;
		width: 18vw; height: 18vw;
		z-index: 10;
		right: -12%;top: 8%;
		background: url('/images/desktop.png') no-repeat center center / cover;
	}

	@include isMobile{
		padding: $p-mb;
		order: 1;
		padding-bottom: 0;

			
		&::before{
			display: none;
		}
	}

	h1{
		color: hue('swamp');
		font-size: 5em;
		font-weight: 600;
		line-height: 1.2;
		margin-top: -0.2em;
		text-transform: uppercase;
		max-width: 36vw;

		@include isMobile{
			font-size: 1.5em;
			max-width: 100%;
		}
	}

	h3{
		color: hue('red');
		font-weight: 300;
		font-size: 3.5em;
		display: flex;
		align-items: center;
		gap: 0.2em;
		font-family: 'Roboto';

		@include isMobile{
			font-size: 1.6em;
		}

		[line]{
			width: 100%;
			border-bottom: solid;
			@include border-w;
		}

		[line='1']{
			width: 40%;
		}
	}
}

.content{
	padding: $p;
	padding-right: 0;
	gap: 1em;	
	display: flex;
	flex-direction: column;
	gap: 1em;
	grid-column: 2;
	grid-row: 2;
	white-space: pre-line;
	flex: 1;
	font-family: 'Roboto';
	
	@include isMobile{
		padding: $p-mb;
		border-bottom: $b;
		@include border-w;
		order: 3;
	}


	p{
		font-family: 'Roboto';
		font-size: 1em;
	}

}



.preview{
	position: relative;
	border-right: $b;
	grid-column: 1;
	grid-row: span 2;
	@include border-w;

	@include isMobile{
		border: none;
		order: 2;
	}

	[alt='person']{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	[alt='decor']{
		position: absolute;
		left: 0;bottom: 0;
		height: 50%;
		translate: -28% 1.4em;

		@include isMobile{
			display: none;
		}
	}


	&__person{
		padding: $p;
		padding-left: 0;
		position: relative;
		aspect-ratio: 2/3;

		@include isMobile{
			aspect-ratio: 2.4/3;
			padding: $p-mb;
		}
	}
	
	&__info{
		display: flex;
		align-items: center;
		color: hue('swamp');
		padding: $p;
		padding-left: 0;
		gap: 1em;
		border-top: $b;
		@include border-w;

		@include isMobile{
			padding: $p-mb;
			font-size: 0.6em;
			border-top: $b;
			border-bottom: $b;
			@include border-w;
		}

		[name='line']{
			width: 100%;
			border-bottom: solid;			
			@include border-w;
		}

		[name='text']{
			font-size: 3em;
			text-transform: uppercase;
			font-family: 'Roboto';
			font-weight: 300;
			line-height: 1;
		}
	}
}



.rows{
	display: flex;
	gap: $p;

	&__line{
		min-height: 100%;
		border-right: $b;
		display: block;
		@include border-w;

		
		@include isMobile{
			display: none;
		}
	}

	&__item{
		flex: 1;
		padding: $p 0;
		display: flex;
		flex-direction: column;
		gap: $p;
	}
	
	@include isMobile{
		flex-direction: column;
		padding: $p-mb;
	}
	
}



.col{
	display: flex;
	flex-direction: column;
	gap: 0.5em;

	&__img{
		cursor: pointer;
	}


	[alt='preview']{
		width: 100%;
	}

	p{
		font-family: 'Roboto';
		font-weight: 300;
		font-size: 1.2em;
	}
}


.wrap{
	transition: opacity 0.6s;
	opacity: 0;
}


.wrap[animate='true']{
	opacity: 1;
}

