@import '@/styles/global.scss';

.wrap{
	display: flex;
	gap: 0.5em;
	align-items: center;
}


.item{
	display: flex;
	align-items: center;
	gap: inherit;
	font-family: 'Roboto';
	color: hue('dark');
	border: none;
	cursor: pointer;
	background: none;

	&:last-child::after{display: none;}

	&:last-child{		
		color: hue('red');
	}

	&::after{
		content: '|';
		color: hue('dark');
	}
}