@import '@/styles/global.scss';

.wrap{
}

.cont{
	display: grid;

	&[type='list']{
		grid-template-columns: repeat(5, 1fr);
		gap: 1vw;
	}
	&[type='letters']{
		grid-template-columns: repeat(3, 1fr);
		gap: 2vw;
	}
}

